<% if @books.present? %>
  <% @books.each do |book| %>
    <div class="list">
    <% if book.medium_image_urls %>
      <%= link_to (image_tag(book.medium_image_urls.first, style: "width: 70px;height: 100px;display: inline-block;")), book.url %>
      <%end%>
      <%= book.name %>
    </div>
  <% end %>
<% end %>